@charset "UTF-8";
/* MIXINS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ESTILOS PARA EL HEADER Y FOOTER DE TODAS LAS PAGINAS */
header {
  background-color: #f1c40f;
  width: 100%;
}

header .link-nav-hover:hover {
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.582);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.logo-hambrosio {
  width: 70px;
}

.titulo-principal {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px rgba(197, 197, 197, 0.849);
}

.footer {
  background-color: #f1c40f;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collapse navbar-collapse ul li a:hover {
  color: #ff0000;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #1ad154;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #1ad154;
  background: #fff;
}

/* ESTILOS PARA PAGINA DE INICIO */
.comidas {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 3em auto;
}

.comidas .tarjeta-comida img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tarjeta-comida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tarjeta-comida:hover {
  background-color: #f1c40f;
  border-radius: 10px;
}

.tarjeta-comida img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
}

.tarjeta-comida .descripcion-comida {
  padding: 10px;
}

.tarjeta-comida .descripcion-comida p {
  padding: 5px;
  text-align: center;
}

.tarjeta-comida .descripcion-comida h3 {
  padding: 5px;
  text-align: center;
}

.tarjeta-comida .descripcion-comida h2 {
  padding: 5px;
  text-align: center;
  color: #980f0f;
}

.submenu {
  position: relative;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.submenu #carrito {
  display: none;
}

.desplegar-carrito {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: #EDD9A3;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border: 3px solid black;
  -webkit-animation-name: rebotar;
          animation-name: rebotar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes rebotar {
  0%, 20%, 50%, 80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes rebotar {
  0%, 20%, 50%, 80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.u-full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.button {
  margin-top: 20px;
  display: inline-block;
  height: 38px;
  text-decoration: none;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  border: 2px solid black;
  text-transform: uppercase;
}

.button:hover {
  background-color: black;
  color: white;
}

.borrar-comida {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr {
  text-align: center;
}

.mensaje-agregado-al-carrito {
  position: fixed;
  display: none;
  line-height: 25px;
  bottom: 30px;
  right: 100px;
  padding: 15px;
  background-color: #EDD9A3;
  border: 2px solid black;
}

.mensaje-agregado-al-carrito p {
  text-align: center;
  margin-bottom: 0px;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.inputs-formulario {
  width: 60%;
  margin: 1.6em auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.inputs-formulario textarea {
  grid-column: span 3;
}

.inputs-formulario label {
  grid-column: span 3;
}

.botones-formulario {
  width: 60%;
  margin: 1.6em auto;
}

.botones-formulario button {
  padding: 10px;
  background-color: #f1c40f;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  border-radius: 15px;
}

.botones-formulario .botones-amarillos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.botones-formulario .botones-amarillos button {
  margin: 20px;
}

.botones-formulario .botones-amarillos button:hover {
  background-color: black;
  color: white;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  grid-column: 2;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  margin: 0 auto;
  width: 70%;
}

.contacto h1 {
  font-size: 45px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-shadow: 2px 2px rgba(197, 197, 197, 0.849);
}

.contacto p {
  font-size: 20px;
}

.main-contacto {
  margin: 100px 0;
}

.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5em auto;
  border-radius: 20px;
  width: 80%;
}

/* ESTILOS PARA PAGINA DE QUIENES SOMOS */
.contenedor-quienes-somos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 6em auto;
  width: 75%;
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-quienes-somos .imagenes-quienes-somos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.contenedor-quienes-somos .imagenes-quienes-somos img:hover {
  -webkit-box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.582);
          box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.contenedor-quienes-somos .imagenes-quienes-somos:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contenedor-quienes-somos .texto-quienes-somos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor-quienes-somos .texto-quienes-somos h1 {
  padding: 20px;
}

.contenedor-quienes-somos h1 {
  text-shadow: 2px 2px rgba(197, 197, 197, 0.849);
}

.postres {
  width: 65%;
  margin: 4em auto;
  justify-items: center;
  gap: 25px;
}

.postres .titulo-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.postres .titulo-texto p {
  margin: 20px 0;
}

.postres h1 {
  text-shadow: 2px 2px rgba(197, 197, 197, 0.849);
  font-size: 60px;
  text-align: start;
}

.tarjeta-postre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tarjeta-postre img {
  width: 200px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tarjeta-postre img:hover {
  width: 300px;
}

.tarjeta-postre h2 {
  color: #980f0f;
  text-shadow: 2px 2px rgba(197, 197, 197, 0.849);
  padding: 20px;
  font-size: 30px;
}

.tarjeta-postre p {
  padding: 20px;
}

/* ESTILOS PARA PAGINA DE RESERVAS */
.contenedor-tarjetas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 3.5em auto;
  width: 80%;
}

.contenedor-tarjetas img {
  width: 100%;
}

.contenedor-tarjetas .tarjeta {
  width: 300px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1c40f;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.45);
          box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.45);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contenedor-tarjetas .tarjeta:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contenedor-tarjetas .tarjeta .separador {
  size: 2px;
  color: blue;
}

.main-reservas {
  margin: 150px 0;
}

.texto-reservas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
}

.texto-reservas h1 {
  font-size: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-shadow: 2px 2px rgba(197, 197, 197, 0.849);
}

.texto-reservas p {
  font-size: 20px;
}

/* Efecto para boton de reserva - Pagina Reservas */
.tarjeta h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 0px 0px 0px;
}

.tarjeta p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
}

.tarjeta hr {
  border-top: 2px solid black;
}

.tarjeta .boton-reservar {
  padding: 20px;
  background-color: #000;
  color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.tarjeta .boton-reservar span {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.tarjeta .boton-reservar::after {
  background-color: #ff0000;
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -70px;
  left: 0px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.tarjeta .boton-reservar:hover::after {
  top: 0;
}

/* Media queries para todas las paginas */
@media screen and (max-width: 1320px) {
  .comidas {
    grid-gap: 50px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .inputs-formulario input {
    grid-column: span 3;
  }
  .inputs-formulario #menu-desplegable {
    grid-column: span 3;
  }
  .contenedor-quienes-somos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(1) {
    grid-column: 1/-1;
  }
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(3) {
    grid-column: span 1;
  }
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(4) {
    grid-column: span 1;
  }
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(5) {
    grid-column: span 1;
  }
  .contenedor-quienes-somos .texto-quienes-somos {
    grid-column: 1/-1;
  }
  .contenedor-tarjetas {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
  }
  .inputs-formulario {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .comidas {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-tarjetas {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 2.5em auto;
    width: 80%;
    grid-gap: 4em;
  }
  .postres {
    width: 80%;
  }
  .postres h1 {
    text-align: center;
  }
  .tarjeta-postre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarjeta-postre h2 {
    text-align: center;
    padding: 20px 20px 0px 20px;
  }
  .tarjeta-postre .imagen-postre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 720px) {
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(1) {
    grid-column: 1/-1;
  }
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(3) {
    grid-column: 1/-1;
  }
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(4) {
    grid-column: 1/-1;
  }
  .contenedor-quienes-somos .imagenes-quienes-somos:nth-child(5) {
    grid-column: 1/-1;
  }
  .contenedor-quienes-somos .texto-quienes-somos {
    grid-column: 1/-1;
  }
  .comidas {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
  #checkbox {
    display: block;
    margin: .3em auto;
  }
  .botones-formulario label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto h1 {
    font-size: 32px;
  }
  .comidas {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */